<div container="container">
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <div class="Img">
        <a routerLink="/detail/{{hero.id}}">
          <!-- <span class="badge">{{hero.id}}</span> -->
          <img src="{{hero.src}}"/>
        </a>
      </div>
      <div class="Btn">
        <button class="delete" 
                title="delete hero"
                (click)="delete(hero)">
              x
        </button>
      </div>
      <div style="clear: both;"></div>
      </li>
  </ul>
  
  <div class="addForm">
    <label>Hero name:
      <input #heroName />
    </label>
    <button (click)="add(heroName.value);heroName.value=''">
      Add
    </button>
  </div>
  <div style="clear: both;"></div>
</div>

