container {
    height: 500px;
    background-color: violet;
    width: 100%;
}
.heroes {
    /* margin: 0 0 2em 0; */
    list-style-type: none;
    height: 800px;
    float: left;
    width: 560px;
    background-color: white;
}
ul {
    overflow: scroll;
}
li {
    display: inline-table;
    height: auto;
    margin-left: 14px;
    float: left;
}
.Btn {
    float: right;
    width: 20%;
}
.delete {
    width: 25px;
}
.heroes li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.heroes a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
}
.heroes a:hover {
    color:#607D8B;
}
.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
Img {
    width: 80%;
}
a img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.addForm {
    color: white;
    width: 220px;
    float: right;
    background-color: darkcyan;
    height: 790px;
    padding: 10px 10px 0 10px;

}